= provide(:title, 'About Us')
.main-container.about
	= render :partial => "partials/header"

	.opening.about-intro
		%h1
			= t(:for_us_by_us)
		%div
			%p
				= t(:our_mission)
	%ul.about-data
		%li
			.about-who
			%h2
				= t(:who)
			%p
				= t(:who_p1)
			%p
				= t(:who_p2)
		%li
			.about-what
			%h2
				= t(:what)
			%p
				= t(:what_p1)
			%p
				= t(:what_p2)
		%li
			.about-why
			%h2
				= t(:why)
			%p
				= t(:why_p1)
			%p
				= t(:why_p2)

	.image-credits
		%div
			%h2
				= t(:image_credits)
			%ul
				%li
					%p
						= t(:photographer_1)
						-# href='{{https://www.flickr.com/photos/64788029@N03/16160905106}}
				%li
					%p
						= t(:photographer_2)
						-# https://www.flickr.com/photos/29800336@N03/9673165616
				%li
					%p
						= t(:photographer_3)
				%li
					%p
						= t(:photographer_4)


	= render :partial => "partials/footer"