= provide(:title, 'View Stories')
= stylesheet_link_tag    "jquery.modal", :media => "all"
= javascript_include_tag "home"
= javascript_include_tag "jquery.modal"
= javascript_include_tag "video_modal"
.main-container.stories
  = render :partial => "partials/header"
  %iframe{src: "https://www.youtube.com/embed/zEK1TqeYrno", frameborder: "0", allowfullscreen: true}

  .intro
    .personal-look
      %h2
        = t(:a_personal_look)
      %p
        = t(:watch_personal_stories)

  .statement
    .description
      %h2
        = t(:our_city)
      %p
        = t(:city_statement)
    .quote
      %p
        = t(:we_believe)

  = render :partial => "partials/footer"

  .modal-container{ style: "width: 860px; height: 470px;"}
    .modal-video
